<div id="scheduleTestDiv">
    <h3 id="">Schedule Mock Test</h3>
    <div id="scheduleContents">
        <div>
            <img src="../../asset/images/Schedule.svg" alt="" id="scheduleImg">
        </div>

        <div id="mainScheduleDiv">
            <div id="">
                <label for="selSub">Select Subject</label>
                <select name="" id="selSub">
                    <option value="" disabled selected>Click Here</option>
                    <option value="">MGT/MAN - Management</option>
                    <option value="">EST - Environmental Studies</option>
                    <option value="">BSC - Basic Science</option>
                    <option value="">ASC - Applied Science</option>
                    <option value="">BEE - Basic Electrical & Electronics Engineering</option>
                    <option value="">MEM - Mechanical Engineering Materials</option>
                    <option value="">AJP - Advanced Java Programming</option>
                    <option value="">ETE - Emerging Trends in Electronics</option>
                    <option value="">ETE - Emerging Trends in Electrical Engineering</option>
                    <option value="">ETC - Emerging Trends in Civil Engineering</option>
                    <option value="">ETI - Emerging Trends in Computer & IT</option>
                    <option value="">ETM - Emerging Trends in Mechanical Engineering</option>
                </select>
            </div>

            <div>
                <label for="selDate">Select Date</label>
                <input type="date" name="" id="selDate">
            </div>

            <div>
                <label for="selTime">Select Time (From - To)</label>
                <br>
                <div id="timeDiv">
                    <input type="time" name="" id="selStartTime">-<input type="time" name="" id="selEndTime">
                </div>
            </div>

            <div>
                <button class="button-17" id="scheduleBtn">Schedule Test</button>
            </div>
        </div>
    </div>
</div>