<div class="navBarDiv">
    <img src="../../asset/images/VESP Logo.png" alt="VES Polytechnic" id="vespLogo">

    <div id="navBtns">
        <button type="button" class="btn btn-light" onclick="window.location.href = 'staffDashboard.php'">Home</button>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Students List
            </button>
            <div class="dropdown-menu" aria-labelledby="">
                <a class="dropdown-item" href="javascript: openStudentList('fy')">First Year</a>
                <a class="dropdown-item" href="javascript: openStudentList('sy')">Second Year</a>
                <a class="dropdown-item" href="javascript: openStudentList('ty')">Third Year</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Upload Students List
            </button>
            <div class="dropdown-menu" aria-labelledby="">
                <a class="dropdown-item" href="javascript: uploadStudentList('ao')">Automation & Robotics</a>
                <a class="dropdown-item" href="javascript: uploadStudentList('ce')">Civil Engineering</a>
                <a class="dropdown-item" href="javascript: uploadStudentList('co')">Computer Engineering</a>
                <a class="dropdown-item" href="javascript: uploadStudentList('ee')">Electrical Engineering</a>
                <a class="dropdown-item" href="javascript: uploadStudentList('ej')">Electronics & Tele-Com. Engineering</a>
                <a class="dropdown-item" href="javascript: uploadStudentList('me')">Mechanical Engineering</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="uploadDropDown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Upload Mock Test Questions
            </button>
            <div class="dropdown-menu" aria-labelledby="">
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">MGT/MAN - Management</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">EST - Environmental Studies</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">BSC - Basic Science</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">ASC - Applied Science</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">BEE - Basic Electrical & Electronics Engineering</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">MEM - Mechanical Engineering Materials</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">AJP - Advanced Java Programming</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">ETE - Emerging Trends in Electronics</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">ETE - Emerging Trends in Electrical Engineering</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">ETC - Emerging Trends in Civil Engineering</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">ETI - Emerging Trends in Computer & IT</a>
                <a class="dropdown-item" href="javascript: alert('Feature Launching Soon!! Stay tuned..');">ETM - Emerging Trends in Mechanical Engineering</a>
            </div>
        </div>
    </div>
</div>