<!-- Upload Student Excel Sheet -->
<div id="uploadDiv">
    <h3 id="studUploadHeader">Upload Students List</h3>

    <div id="uploadStudDiv">
        <img src="../../asset/images/Spreadsheets.svg" alt="Image">

        <form id="uploadForm" action="../server/uploadStudentList.php" method="post" onsubmit="return uploadData()">
            <div>
                <label for="selectedBranch">Selected Branch</label>
                <input type="text" name="studBranch" id="selectedBranch" value="Computer Engineering" disabled readonly>
                <input type="hidden" name="studBranchHidden" value="Computer Engineering"> <!-- Hidden input field -->
            </div>

            <div>
                <label for="selYear">Select Year</label>
                <select name="studYear" id="selYear" required>
                    <option value="" selected disabled>Click Here</option>
                    <option value="fy">First Year</option>
                    <option value="sy">Second Year</option>
                    <option value="ty">Third Year</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Select Excel File</label>
                <input class="form-control" type="file" id="formFile" accept=".xlsx,.xls,.csv" name="excelFile" required>
            </div>

            <div>
                <button class="button-17" id="fileBtn" type="submit">Upload Student Data</button>
            </div>
        </form>
    </div>
</div>