<div id="changePassDiv" >
    <h3 id="changePassHeader">Change Password</h3>
    <div id="changePasswordDiv">
        <div id="imgDiv">
            <img src="../../asset/images/Reset password.svg" alt="">
        </div>

        <form action="../server/changePasswordServer.php" method="post" onsubmit="return changeStaffPassword()" id="passFormDiv">
            <div>
                <label for="currentPassTxt">Enter Current Password</label>
                <div class="passHideShowDiv">
                    <input type="password" id="currentPassTxt" placeholder="∗∗∗∗∗∗∗∗" autocomplete="off" required>
                    <i class="fa-solid fa-eye togglePassword" id="existingPass" onclick="showHidePass('exist')"></i>
                </div>
            </div>
            <div>
                <label for="newPassTxt">Enter New Password</label>
                <div class="passHideShowDiv">
                    <input type="password" id="newPassTxt" placeholder="∗∗∗∗∗∗∗∗" autocomplete="off" required>
                    <i class="fa-solid fa-eye togglePassword" id="newPass" onclick="showHidePass('new')"></i>
                </div>
            </div>
            <div>
                <label for="confirmPassTxt">Re-enter New Password</label>
                <div class="passHideShowDiv">
                    <input type="password" id="confirmPassTxt" placeholder="∗∗∗∗∗∗∗∗" autocomplete="off" required>
                    <i class="fa-solid fa-eye togglePassword" id="confirmPass" onclick="showHidePass('cfm')"></i>
                </div>
            </div>
            <button class="button-17" id="changeBtn">Change Test Code</button>
        </form>
    </div>
</div>