<div id="formatDiv">
    <h3 id="excelUploadHeader">Excel Sheets Format</h3>
    <!-- <img src="../../asset/images/Excel Format.png" alt=""> -->

    <p id="tableCaption">All excel sheets must be in this format only.</p>
    <table>
        <thead>
            <tr class="typeHeader">
                <th colspan="3">Upload Students List</th>
            </tr>
            <tr>
                <th>Enrollment No.</th>
                <th>Roll No.</th>
                <th>Student Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2100040423</td>
                <td>CO6IA - 01</td>
                <td>DEOKULE DEVANG RAJENDRA</td>
            </tr>
            <tr>
                <td>2200040221</td>
                <td>CO6IA - 02</td>
                <td>YASH LAXMAN BALOTIYA</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr class="typeHeader">
                <th colspan="8">Upload Questions</th>
            </tr>
            <tr>
                <th>Sr. No.</th>
                <th>CO-MAP</th>
                <th>Question</th>
                <th>Option A</th>
                <th>Option B</th>
                <th>Option C</th>
                <th>Option D</th>
                <th>Correct Answer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>CO1</td>
                <td>XXXX</td>
                <td>AAAA</td>
                <td>BBBB</td>
                <td>CCCC</td>
                <td>DDDD</td>
                <td>B</td>
            </tr>
            <tr>
                <td>02</td>
                <td>CO2</td>
                <td>XXXX</td>
                <td>AAAA</td>
                <td>BBBB</td>
                <td>CCCC</td>
                <td>DDDD</td>
                <td>D</td>
            </tr>
            <tr>
                <td>03</td>
                <td>CO3</td>
                <td>XXXX</td>
                <td>AAAA</td>
                <td>BBBB</td>
                <td>CCCC</td>
                <td>DDDD</td>
                <td>A</td>
            </tr>
            <tr>
                <td>04</td>
                <td>CO4</td>
                <td>XXXX</td>
                <td>AAAA</td>
                <td>BBBB</td>
                <td>CCCC</td>
                <td>DDDD</td>
                <td>C</td>
            </tr>
            <tr>
                <td>05</td>
                <td>CO5</td>
                <td>XXXX</td>
                <td>AAAA</td>
                <td>BBBB</td>
                <td>CCCC</td>
                <td>DDDD</td>
                <td>A</td>
            </tr>
        </tbody>
    </table>
</div>