#changePassDiv {
    display: none;
    width: 100%;
    height: 100%;
}

#changePasswordDiv {
    display: flex;
    align-items: center;
    height: 80%;
}

/* #imgDiv { */
    /* width: 50%; */
    /* height: 100%; */
    /* align-self: center; */
    /* align-self: center; */
/* } */

#changePasswordDiv img {
    width: 20vw;
}

#changePassHeader {
    font-size: 1.5vw;
    text-align: center;
    /* margin: 2vh 0 2vh 0; */
    margin: 1vw 0 1vw 0;
    font-weight: 600;
}

#passFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

#passFormDiv input {
    width: 85%;
    padding: 0.3vw;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#passFormDiv label {
    font-size: 1vw;
    margin-bottom: 1vh;
}

#changePasswordBtn {
    background-color: #ffc107;
    color: black;
}

.passHideShowDiv {
    position: relative;
}

.passHideShowDiv input[type="password"] {
    padding-right: 30px;
    /* Adjust padding to accommodate the icon */
}

.passHideShowDiv .fa-eye-slash,
.passHideShowDiv .fa-eye {
    position: absolute;
    top: 50%;
    right: 3.5vw;
    transform: translateY(-50%);
    cursor: pointer;
}