* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#resetParentDiv {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    border: 3px solid #ffc107;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f9;
}

label {
    font-size: 1vw;
}

.infoDiv {
    text-align: center;
}

.vespText {
    font-size: 2.2vw;
    color: #6d4c41;
    margin-top: 2vh;
    margin-bottom: 0;
}

.oepText {
    color: gray;
    font-size: 1vw;
    margin: 1vh 0;
}

.vesLogo {
    width: 3vw;
    /* margin: 8px; */
}

.loginTxt {
    font-size: 1.8vw;
    margin: 1vh;
}

.resetChildDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviewDiv {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.resetChildDiv .form .form-element label {
    font-size: 0.95vw;
    color: #222;
}

#inputForm {
    display: flex;
    justify-content: space-evenly;
}

#resetParentDiv .form .form-element input[type="text"],
#resetParentDiv .form .form-element input[type="date"],
#resetParentDiv .form .form-element #securityQuestion,
#resetParentDiv .form .form-element input[type="password"] {
    margin-top: 1vh;
    display: block;
    width: 20vw;
    padding: 0.7vw;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1vw;
}

#saveDetailsDiv {
    display: flex;
    justify-content: center;
}

#saveDetails, #resetPassBtn {
    width: 40%;
    height: 6vh;
    border: none;
    outline: none;
    font-size: 1.05vw;
    background: #ffc107;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 2vh;
}

#review {
    margin-right: 1%;
}

#inputForm #part1 .form-element, #inputForm #part2 .form-element {
    margin: 2vh;
}

#inputForm #part1 .form-element .passHideShow {
    position: relative;
}

#inputForm #part1 .form-element .passHideShow input[type="password"] {
    padding-right: 30px;
    /* Adjust padding to accommodate the icon */
}

#inputForm #part1 .form-element .passHideShow .fa-eye-slash,
#inputForm #part1 .form-element .passHideShow .fa-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
