<!-- Popup Window -->
<section>
    <!-- BG Black Window -->
    <div id="overlay"></div>

    <!-- Main Popup -->
    <div id="newDetailsPopup" class="popup">
        <div id="newDetails">
            <div id="popupHeader">
                <!-- VESP Logo -->
                <img src="asset/images/VESP Logo.png" alt="VESP Logo" id="vespLogin">
                <div id="close">&times;</div>
            </div>

            <!-- Login Info -->
            <div id="insideWelcome">
                <h3>Welcome to VES Polytechnic's</h3>
                <p id="oepText">Online Examination Portal</p>
                <p id="loginAs">Login as</p>
            </div>

            <!-- Student -->
            <div id="roleDiv">
                <div id="studPopup" class="role">
                    <img src="asset/images/Files sent-bro.svg" alt="Student Image">
                    <p>Student</p>
                </div>

                <!-- Staff -->
                <div id="staffPopup" class="role">
                    <img src="asset/images/Mathematics-bro.svg" alt="Teacher Image">
                    <p>Staff</p>
                </div>

                <!-- Admin -->
                <div id="adminPopup" class="role">
                    <img src="asset/images/Profiling-amico.svg" alt="Admin Image">
                    <p>Admin</p>
                </div>

            </div>
            <div id="devInfo">
                <p>Web Application Developed by <a href="#" class="devName">Yash Balotiya</a> & <a href="#" class="devName">Shreya Shukla</a>.</p>
            </div>
        </div>
    </div>
</section>