#scheduleTestDiv {
    display: none;
    width: 100%;
    height: 100%;
}

#scheduleTestHeader {
    margin-bottom: 0;
}

#scheduleContents {
    display: flex;
}

#scheduleImg {
    width: 20vw;
}

#mainScheduleDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mainScheduleDiv div {
    /* height: 12vh; */
}

#mainScheduleDiv div label {
    font-size: 1vw;
    margin-bottom: 1vh;
}

#selSub, #selDate, .selectTag {
    width: 90%;
    height: 2.5vw;
    padding: 0.3vw;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#selStartTime, #selEndTime {
    width: 40%;

    height: 2.5vw;
    padding: 0.3vw;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid #aaa;
}

#timeDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#scheduleBtn {
    background-color: #ffc107;
    color: black;
    width: 90%;
    margin-top: 2vh;
    /* height: 6vh; */
}