<div id="changeTCDiv" >
    <h3 id="">Change Test Code</h3>
    <div id="changeTestCodeDiv">
        <div id="imgDiv">
            <img src="../../asset/images/TestCode.svg" alt="">
        </div>

        <form onsubmit="return changeTestCode()" id="tcFormDiv">
            <div>
                <label for="currentTestCode">Enter Current Test Code</label>
                <input type="text" id="currentTestCode" required autocomplete="off" placeholder="XXXX">
            </div>
            <div>
                <label for="newTestCode1">Enter New Test Code</label>
                <input type="text" id="newTestCode1" required autocomplete="off" placeholder="XXXX">
            </div>
            <div>
                <label for="newTestCode2">Confirm New Test Code</label>
                <input type="text" id="newTestCode2" required autocomplete="off" placeholder="XXXX">
            </div>
            <button class="button-17" id="changeBtn">Change Test Code</button>
        </div>
    </div>
</div>