<div id="changePassDiv" >
    <h3 id="">Change Test Code</h3>
    <div id="changePasswordDiv">
        <div id="imgDiv">
            <img src="../../asset/images/Reset password.svg" alt="">
        </div>

        <div id="passFormDiv">
            <div>
                <label for="">Enter Current Password</label>
                <input type="password" id="" placeholder="∗∗∗∗">
            </div>
            <div>
                <label for="">Enter New Password</label>
                <input type="password" id="" placeholder="∗∗∗∗">
            </div>
            <div>
                <label for="">Re-enter New Password</label>
                <input type="password" id="" placeholder="∗∗∗∗">
            </div>
            <button class="button-17" id="changeBtn">Change Test Code</button>
        </div>
    </div>
</div>