<!-- All 20 Questions Button -->
<div id="questionNo">
    <!-- <hr><hr> -->
    <h3 id="head3">Questions</h3>
    <table id="qTable">
        <tr>
            <td><input class="qBtns" id="btn1" type="button" value="1"></td>
            <td><input class="qBtns" id="btn2" type="button" value="2"></td>
            <td><input class="qBtns" id="btn3" type="button" value="3"></td>
            <td><input class="qBtns" id="btn4" type="button" value="4"></td>
        </tr>
        <tr>
            <td><input class="qBtns" id="btn5" type="button" value="5"></td>
            <td><input class="qBtns" id="btn6" type="button" value="6"></td>
            <td><input class="qBtns" id="btn7" type="button" value="7"></td>
            <td><input class="qBtns" id="btn8" type="button" value="8"></td>
        </tr>
        <tr>
            <td><input class="qBtns" id="btn9" type="button" value="9"></td>
            <td><input class="qBtns" id="btn10" type="button" value="10"></td>
            <td><input class="qBtns" id="btn11" type="button" value="11"></td>
            <td><input class="qBtns" id="btn12" type="button" value="12"></td>
        </tr>
        <tr>
            <td><input class="qBtns" id="btn13" type="button" value="13"></td>
            <td><input class="qBtns" id="btn14" type="button" value="14"></td>
            <td><input class="qBtns" id="btn15" type="button" value="15"></td>
            <td><input class="qBtns" id="btn16" type="button" value="16"></td>
        </tr>
        <tr>
            <td><input class="qBtns" id="btn17" type="button" value="17"></td>
            <td><input class="qBtns" id="btn18" type="button" value="18"></td>
            <td><input class="qBtns" id="btn19" type="button" value="19"></td>
            <td><input class="qBtns" id="btn20" type="button" value="20"></td>
        </tr>
    </table>
    <!-- <br><hr><hr> -->
</div>